body {
    margin: 0px;
    height: 100px;
    font-family: 'Roboto', sans-serif;

}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: gray;


}

h2 {
    color: white;
    position: absolute;
    left: 30px;
    /* top: 3px; */
}

.menu-item {
    color: white;
    margin: 10px;
    position: relative;
    left: 200px;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: white;
}

.header-menu {
    display: flex;
    justify-content: space-around;
}

.main-display {
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: rgb(218, 218, 5);
    font-size: 70px;
}

.three-blocks {
    height: 350px;
    display: flex;
    justify-content: space-around;
}

.block {
    background-color: aquamarine;
    height: 275px;
    width: 275px;
    margin: 25px;
    border-radius: 25px;
}

.two-blocks {
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

.orange-block {
    background-color: orange;
    height: 275px;
    width: 500px;
    margin: 25px;
}

.text-pic {
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.pic {
    height: 275px;
    width: 400;
    margin: 25px;
    position: relative;
    right: 130px;
    bottom: 15px;
}

.poem {
    height: 275px;
    width: 400;
    margin: 25px;
    /* padding: 200px; */
    position: relative;
    top: 55px;
    left: 90px;
}

footer {
    height: 80px;
    background-color: rgb(63, 56, 75);
    overflow: hidden;
}